Repository googleapis/sdk-platform-java, pull requests merged in 2023-01, with the labels that each got.

#1207 fix: add name to ConditionalOnMissingBean when creating bean
  src/main/java/com/google/api/generator/spring/composer/SpringAutoConfigClassComposer.java
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationFull.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationGrpc.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationGrpcRest.golden
Labels: spring

#1209 fix(spring): Separate out client settings bean and client bean comment
  src/main/java/com/google/api/generator/spring/composer/SpringAutoConfigClassComposer.java
  src/main/java/com/google/api/generator/spring/composer/comment/SpringAutoconfigCommentComposer.java
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationFull.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationGrpc.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationGrpcRest.golden
Labels: spring

#1218 chore: Delete all generated samples in java-iam
  java-iam/samples/cloud-client/snippets/pom.xml
  java-iam/samples/cloud-client/snippets/src/main/java/CreateDenyPolicy.java
  java-iam/samples/cloud-client/snippets/src/main/java/DeleteDenyPolicy.java
  java-iam/samples/cloud-client/snippets/src/main/java/GetDenyPolicy.java
  java-iam/samples/cloud-client/snippets/src/main/java/ListDenyPolicies.java
  java-iam/samples/cloud-client/snippets/src/main/java/UpdateDenyPolicy.java
  java-iam/samples/cloud-client/snippets/src/test/java/DenyIT.java
Labels: automerge, samples

#1212 fix(spring): limit retry settings configuration by method type
  src/main/java/com/google/api/generator/spring/composer/SpringAutoConfigClassComposer.java
  src/main/java/com/google/api/generator/spring/composer/SpringPropertiesClassComposer.java
  src/main/java/com/google/api/generator/spring/utils/Utils.java
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationFull.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationGrpc.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationGrpcRest.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringPropertiesFull.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringPropertiesGrpc.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringPropertiesGrpcRest.golden
Labels: spring

#1226 fix(spring): fix method javadoc missing @param and @return
  src/main/java/com/google/api/generator/engine/ast/JavaDocComment.java
  src/main/java/com/google/api/generator/spring/composer/comment/SpringAutoconfigCommentComposer.java
  src/test/java/com/google/api/generator/engine/ast/JavaDocCommentTest.java
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationFull.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationGrpc.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationGrpcRest.golden
Labels: spring

#1211 feat: Add callable getters for non-eligible or non-enabled REST methods
  gapic-generator-java/src/main/java/com/google/api/generator/gapic/composer/common/AbstractTransportServiceStubClassComposer.java
  gapic-generator-java/src/main/java/com/google/api/generator/gapic/composer/rest/HttpJsonServiceStubClassComposer.java
  gapic-generator-java/src/main/java/com/google/api/generator/gapic/model/Method.java
  gapic-generator-java/src/test/java/com/google/api/generator/gapic/composer/grpcrest/goldens/HttpJsonEchoStub.golden
  gapic-generator-java/src/test/java/com/google/api/generator/gapic/model/MethodTest.java
  showcase/gapic-showcase/src/main/java/com/google/showcase/v1beta1/stub/HttpJsonEchoStub.java
  showcase/gapic-showcase/src/main/java/com/google/showcase/v1beta1/stub/HttpJsonMessagingStub.java
Labels: automerge

#1227 fix(spring): use newHttpJsonBuilder in settings bean for REST transport option
  src/main/java/com/google/api/generator/spring/composer/SpringAutoConfigClassComposer.java
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationFull.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationGrpc.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationGrpcRest.golden
Labels: spring

#1221 fix: Handle cancel in ReleasingClientCall and rethrow the exception in start
  gax-java/gax-grpc/src/main/java/com/google/api/gax/grpc/ChannelPool.java
  gax-java/gax-grpc/src/test/java/com/google/api/gax/grpc/ChannelPoolTest.java
Labels: automerge

#1245 fix(spring): switch camelcase conversion logic to use JavaStyle
  src/main/java/com/google/api/generator/spring/composer/SpringAutoConfigClassComposer.java
  src/main/java/com/google/api/generator/spring/composer/SpringPropertiesClassComposer.java
  src/main/java/com/google/api/generator/spring/utils/Utils.java
Labels: spring

#1259 chore(spring): add release-please annotations to pom template
  src/main/java/com/google/api/generator/spring/SpringWriter.java
  src/test/java/com/google/api/generator/spring/goldens/SpringPackagePom.golden
Labels: spring

#1277 fix(spring): fix client and settings class names in comments
  src/main/java/com/google/api/generator/spring/composer/SpringAutoConfigClassComposer.java
  src/main/java/com/google/api/generator/spring/composer/comment/SpringAutoconfigCommentComposer.java
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationFull.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationGrpc.golden
  src/test/java/com/google/api/generator/spring/composer/goldens/EchoSpringAutoConfigurationGrpcRest.golden
Labels: spring

#1229 fix(ast): update import generation to cover annotation parameters
  gapic-generator-java/src/main/java/com/google/api/generator/engine/writer/ImportWriterVisitor.java
  gapic-generator-java/src/test/java/com/google/api/generator/engine/writer/ImportWriterVisitorTest.java
Labels: automerge
